<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Index.html</title>
    <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
    {% load static %}		<!-- added this line -->
    <link rel="stylesheet" href="{% static 'app_name/css/style.css' %}">
    <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
    <script src="{% static 'app_name/js/script.js' %}"></script>
    <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
    <style type="text/css">
      img {
        height: 25px;
      }
    </style>
    <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
  </head>
  <body>
    <h1>Hello!</h1>
    <img id="josh" src="{% static 'books_authors_app/images/lena.png' %}" />

    <h1>Info From Server:</h1>
    <p>Name: {{name}}</p>
    <p>Color: {{favorite_color}}</p>
    <p>Pets</p>
    <ul>
      {% for pet in pets %}
        <li>{{pet}}</li>
      {% endfor %}
    </ul>







    <div class="album py-5 bg-light">
      <div class="container">
            <h1 class="mb-3">All Users</h1>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>id</th>
                    <th>Title</th>
                    <th>Action</th>
                </tr>
                </thead>
                <tbody>
                  {% for book in books %}
                  <tr>
                    <td>{{ book.title }}</td>
                    <td>{{ book.title }}</td>
                    <td>{{ book.title }}</td>
                  </tr>
                  {% endfor %}
                </tbody>
            </table>
            <a href="/users/new">Add a new user</a>
      </div>
    </div>

  </body>
</html>